# Ignore build files
doc/build/
build/
*egg-info/

# Ignore non-source files
*.pyc
*.save
*.bak

# Nuclear data that is probably under a restricted license
metasci/nuke/xs_html/
metasci/nuke/cinder.dat
metasci/nuke/scattering_lengths.html
